.add-ticket {
  position: absolute;
  bottom: 15px;
  right: 15px;
  z-index: 99;
  font-size: 100px;
  color: red;
}

.mapboxgl-ctrl-bottom-right {
  display: none !important;
}
.mapboxgl-popup-content {
  background-color: transparent !important;
  box-shadow: none !important;
}

.title {
  position: absolute;
  top: -5px;
}